body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-parent {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  /* justify-content: top; */
}

/* pseudo elements*/
.bg-parent::before {
  content: "";
  background-image: url(../public/background.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}

h1,
h2 {
  position: relative;
  color: antiquewhite;
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}

.storyh1 {
  display: flex;
  align-items: flex-start;
  margin-top: 10em;
}

img {
  position: relative;
}

.totalh2 {
  display: flex;
  color: antiquewhite;
}

.about-p {
  position: absolute;
  top: 450px;
  left: 200px;
  color: antiquewhite;
}

div.card {
  background: rgba(80, 80, 80, 0.25);
  color: antiquewhite;
}

div.modal-header {
  background: antiquewhite;
}

div.modal-content {
  background: rgba(80, 80, 80, 0.75)
}

a.navbarText,
button.navbarText,
button.btn,
.modalText {
  color: antiquewhite;
}

.login-page {
  position: absolute;
}

label {
  color: antiquewhite;
}

/* login form */
div.mb-3,
.formButton {
  opacity: .9;
}

input#formBasicEmail,
input#formBasicPassword {
  width: 100%;
}

#splashtext {
  height: 20em;
  width: 18em;
  position: relative;
  top: 160px;
  opacity: 0.95
}

#logobox {
  position: relative;
  top: 160px;
  background-color: lightgray;
  background-blend-mode: lighten;
  opacity: 0.8;
  padding: 2em;
}